body{
background-color:blue ;
color:brown
front-family:aqua;
margin:opx;
h1 {
    color:aqua;
    front-size:40px;
}
p{
    front-size:25px;
}
header{
    border-bottom:blue;
    margin: 2px;
    padding: 10px;
    color:brown;


    chamada{
        background:(deeppink);
        padding: 80xp;
        display: flex;
        justify-content: center;

        